

.container{
    width:100%;
    text-align:center;
}

.menu{
    float: left;
    width:100px;
}

.section-container{
    display: inline-block;
    margin:0;
    width:60%;
    text-align: left;
}

.right{
    float:right;
    width:160px;
}

footer{
    background-color: black;
    color: whitesmoke;
    text-align: center;
}


